h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}
h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
h4 {
  margin-bottom: 0px;
  margin-top: 0px;
}
h5 {
  margin-bottom: 0px;
  margin-top: 0px;
}
h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  color: $grey-dark;
}
// body{
//   padding: 0px;
//   margin: 0px;

// }
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  /* margin: auto; */
  /* max-width: 1080px; */
  //   padding: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
  height: 100vh;
}
#root {
  background-color: black;
  // margin: 0px;
}
